#═══════════════════════════════════════════════════════════════════════════════
#  CARTOGRAPHER & BED MESH
#═══════════════════════════════════════════════════════════════════════════════
[cartographer scan_model default]
coefficients: 1.4995078280398602,1.9944258699956072,0.8637579333647853,0.4224903396849951,0.35532843766372596,0.31936143989358984,-0.12501575273308319,-0.20025419430337768,0.20615736580136393,0.16999777258467996
domain: 3.3150228978981043e-07,3.434306152385441e-07
z_offset: 0
reference_temperature: 28.91
software_version: 1.5.0-k2jacob10383-custom
mcu_version: CARTOGRAPHER V4 6.1.0

[cartographer touch_model default]
threshold: 1600
speed: 2.0
z_offset: -0.01 #changed april 8 2026 from -0.02 to try and get slightly closer to bed
thermal_expansion_coefficient: 0.0004
software_version: 1.5.0-k2jacob10383-custom
mcu_version: CARTOGRAPHER V4 6.1.0

[cartographer touch]
samples: 4
max_samples: 12
max_noisy_samples: 3   # window = 7
sample_range: 0.010
EXPERIMENTAL_home_random_radius: 2

[cartographer]
y_offset: -14

[bed_mesh]
probe_count: 75, 75
mesh_min: 10, 10
mesh_max: 340, 335
adaptive_margin: 10
move_check_distance: 3
speed: 300

#═══════════════════════════════════════════════════════════════════════════════
#  MOTION
#═══════════════════════════════════════════════════════════════════════════════
[input_shaper]
# X-axis: smooth_zv @ 54.8 Hz (vibration: 0.00%, max_accel: 10800 mm/sec²)
shaper_type_x: smooth_zv
smoother_freq_x: 46.0
# Y-axis: smooth_zv @ 49.0 Hz (vibration: 0.77%, max_accel: 8600 mm/sec²)
shaper_type_y: smooth_zv
smoother_freq_y: 46.0
enabled_extruders: extruder

[z_align]
rising_dist: 5
rise_distance: 345
rise_speed: 50

[stepper_x]
homing_speed: 200
second_homing_speed: 50

[stepper_y]
homing_speed: 150
second_homing_speed: 50

#═══════════════════════════════════════════════════════════════════════════════
# PID
#═══════════════════════════════════════════════════════════════════════════════
[extruder]
control: pid
pid_kp: 25
pid_ki: 2.5
pid_kd: 62

[heater_bed]
control: pid
pid_Kp: 52
pid_Ki: 0.22
pid_Kd: 650

[gcode_macro _START_PRINT_VARS]
variable_heat_soak: 0
variable_offset_ASA: 0
variable_offset_DEFAULT: 0.00
gcode:

[box]
cut_pos_x: -7

[led_idle_manager]
timeout: 300            # seconds of inactivity before turning off (default: 300 / 5 min)