[gcode_macro START_PRINT]
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|float %}
  {% set CHAMBER_MAX_DELTA = printer["configfile"]["config"]["heater_generic chamber_heater"].max_delta|float %}
  {% set MIN_CHAMBER_TEMP = params.MIN_CHAMBER_TEMP|default(CHAMBER_TEMP - CHAMBER_MAX_DELTA)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|float %}
  {% set EXTRUDER_WAITTEMP = 140 %}
  {% set MATERIAL = params.MATERIAL|default("")|string %}
  {% set SOAK_TIME = params.SOAK_TIME|default(printer["gcode_macro _START_PRINT_VARS"].heat_soak)|float %}
  {% set PRTOUCH_IS_PROBE = 'prtouch' in printer and printer["configfile"]["config"]["prtouch"].register_as_probe|lower == 'true' %}

  STATUS_MSG PREFIX="[START_PRINT]:" MSG="Start print macro called with {params}"

  {% if CHAMBER_TEMP > 40 and MIN_CHAMBER_TEMP > CHAMBER_TEMP %}
    {action_raise_error("MIN_CHAMBER_TEMP cannot exceed CHAMBER_TEMP")}
  {% endif %}

  _RESET_PRINT_STATE

  parse_flush_volumes

  {% if MATERIAL == "" %}
    {% set OFFSET = printer["gcode_macro _START_PRINT_VARS"].offset_default %}
    STATUS_MSG PREFIX="[START_PRINT]:" MSG="WARNING: Material type not passed into START_PRINT! Using default Z offset of {OFFSET}. See start_print.cfg for slicer setup." TYPE=error
  {% else %}
    {% set OFFSET = printer["gcode_macro _START_PRINT_VARS"].get("offset_" + MATERIAL|lower, printer["gcode_macro _START_PRINT_VARS"].offset_default) %}
    STATUS_MSG PREFIX="[START_PRINT]:" MSG="Setting Z offset of {OFFSET} for {MATERIAL}"
  {% endif %}
  SET_GCODE_OFFSET Z={OFFSET}

  STATUS_MSG PREFIX="[START_PRINT]:" MSG="Preheating: Nozzle={EXTRUDER_WAITTEMP}C Bed={BED_TEMP}C Chamber={CHAMBER_TEMP}C"
  M104 S{EXTRUDER_WAITTEMP}
  M140 S{BED_TEMP}
  M141 S{CHAMBER_TEMP}

  HOME_IF_NEEDED

  STATUS_MSG PREFIX="[START_PRINT]:" MSG="Waiting for bed to reach {BED_TEMP}°C..."
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP - 0.5} MAXIMUM={BED_TEMP + 1}

  {% set CHAMBER_ASSIST = CHAMBER_TEMP > 40 and MIN_CHAMBER_TEMP > 0 and BED_TEMP > MIN_CHAMBER_TEMP %}
  {% if CHAMBER_ASSIST %}
    STATUS_MSG PREFIX="[START_PRINT]:" MSG="Using aux fans for bed-assisted chamber heating..."
    SET_FAN_SPEED FAN=aux_fans SPEED=1
  {% endif %}

  # soak countdown
  {% for i in range(0, (SOAK_TIME * 60) | int, 60) %}
    {% set COUNTDOWN = (SOAK_TIME * 60) | int - i %}
    STATUS_MSG PREFIX="[START_PRINT]:" MSG="Soaking: {COUNTDOWN // 60} min {COUNTDOWN % 60} sec left"
    G4 P{(60000 if COUNTDOWN > 60 else COUNTDOWN * 1000)}
  {% endfor %}

  {% if CHAMBER_TEMP > 40 %} # M141/M191 select chamber heating mode only above 40C.
    STATUS_MSG PREFIX="[START_PRINT]:" MSG="Waiting for chamber to reach minimum {MIN_CHAMBER_TEMP}°C (target {CHAMBER_TEMP}°C)..."
    TEMPERATURE_WAIT SENSOR="heater_generic chamber_heater" MINIMUM={MIN_CHAMBER_TEMP}
  {% endif %}
  {% if CHAMBER_ASSIST %}
    SET_FAN_SPEED FAN=aux_fans SPEED=0
  {% endif %}

  STATUS_MSG PREFIX="[START_PRINT]:" MSG="Rehoming Z after reaching bedtemp/soak"
  {% if PRTOUCH_IS_PROBE %}
    NOZZLE_CLEAN
  {% endif %}
  G28 Z

  STATUS_MSG PREFIX="[START_PRINT]:" MSG="Adjusting bed tilt..."
  Z_TILT_ADJUST

  STATUS_MSG PREFIX="[START_PRINT]:" MSG="Meshing bed"
  BED_MESH_CALIBRATE PROFILE=adaptive ADAPTIVE=1
  STATUS_MSG PREFIX="[START_PRINT]:" MSG="Setting Z after nozzle clean..."
  NOZZLE_CLEAN
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_WAITTEMP - 5} MAXIMUM={EXTRUDER_WAITTEMP + 5}
  {% if 'prtouch' in printer %}
    PRTOUCH_SCRUB #Wipe on metal tab on plate
    PRTOUCH_HOME PRINT_TEMP={EXTRUDER_TEMP}
  {% else %}
    CARTOGRAPHER_TOUCH_HOME
  {% endif %}
  BOX_GO_TO_WASTEBIN

  STATUS_MSG PREFIX="[START_PRINT]:" MSG="Setting extruder to {EXTRUDER_TEMP}°C..."
  M104 S{EXTRUDER_TEMP}

  G92 E0

  STATUS_MSG PREFIX="[START_PRINT]:" MSG="Start_Print macro has finished"
